<html>
  <head>
    <title>ShowMovies</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: right;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><a class="active" href="{% url 'admins' %}">Home</a></li>
    </ul>
    <h1 align="center">Shows</h1>
    <table align="center" cellpadding="6">
      <thead>
        <tr>
          <th>ID</th>
          <th>THEATRE-ID</th>
          <th>MOVIE-ID</th>
          <th>SHOW-DATE</th>
          <th>SHOW-TIME</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for show in shows %}
        <tr>
          <td>{{show.id}}</td>
          <td>{{show.theatre_id_id}}</td>
          <td>{{show.movie_id_id}}</td>
          <td>{{show.show_date}}</td>
          <td>{{show.show_time}}</td>
          <td>
            <a href="{% url 'deleteshow' show.id%}">delete</a>
            <a href="{% url 'updateshow' show.id%}">update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
